@font-face
{
font-family: MaisonNeue;
src: url('maisonneuebold.ttf')
}

.main{
  z-index: 2;
  position: relative;
}
.sticker{
  z-index: 3;
  opacity: .6;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 400vw;
  max-height: 400vh;
  top: 200px;
  left: 200px;
  pointer-events: none;
  align-items: center;
  position: fixed;

}
.bgyes{
  background-color: #FF8C73
}
.overlay-1{
font-family: Maison Neue;
src: url(fonts/maisonneuebold.ttf);
font-size: 40px;
color: #010101;
margin-right: 140px;
margin-left: 50px;
}
.overlay-2{
font-family: Maison Neue;
src: url(fonts/maisonneuebold.ttf);
font-size: 20px;
color: #010101;
padding-right: 0px;
padding-bottom: 1000px;
padding-left: 1000px;
transform: rotate(-90deg);
position: fixed;
left: 0px;
top: 300px;
bottom: 300px;
right: 100px;
}

.pushover{
  margin-left: 800px;
  font-size: 18px;
  position: relative;

}
.hover-line-one{
  border-left: 20px solid black;
  height: 80px;
  position: fixed;
}
.hover-line-two{
  border-left: 20px solid black;
  height: 80px;
  position: fixed;
  top: 200px;
}
.hover-line-three{
  border-left: 20px solid black;
  height: 80px;
  position: fixed;
  top: 315px;
}

a{
  color: inherit;

}
a:hover{
  color: #ffffff;
  border-left: 20px solid #ffffff;
}

/*alts*/

.hover-line-one-alt{
  border-left: 20px solid #FF8C73;
  height: 80px;
  position: fixed;
}
.hover-line-two-alt{
  border-left: 20px solid #FF8C73;
  height: 80px;
  position: fixed;
  top: 200px;
}
.hover-line-three-alt{
  border-left: 20px solid #FF8C73;
  height: 80px;
  position: fixed;
  top: 315px;
}
.overlay-2alt{
font-family: Maison Neue;
src: url(fonts/maisonneuebold.ttf);
font-size: 20px;
color: #FF8C73;
padding-right: 0px;
padding-bottom: 1000px;
padding-left: 1000px;
transform: rotate(-90deg);
position: fixed;
left: 0px;
top: 300px;
bottom: 300px;
right: 100px;
}
